@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
div {
	border: 1px solid chocolate;
}


a:visited, a:link {
	color: #4c5058;
	text-decoration: none;
}

a:hover{
	font-weight: 500;

}
.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
	width: 60%;
}

.top-navigation {
	background-color: #fff;
	border-bottom: 1px solid #DDD;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
  	height: 4.375rem;
}

.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
}

.links {
	list-style: none;
}

.top-navigation .links li{
	display: inline-block;
}
