body {
	background-color: LightGray;
}
div {
	border: 1px solid chocolate;
}

.top-navigation {
	background-color: #fff;
	border-bottom: 1px solid #DDD;
}

.top-navigation > .content {
  	padding: 0 0.938rem;
 	margin: 0 auto;
  	min-width: 37.5rem;
}
